{% load static %}
<header>
    <center>
    <div class="head">
        <b>CRISIS BANK</b></br><br>
        <img src="{% static 'img/logo.jpg' %}" alt="logoimage" width="250px;" height="150px";><br>
        <p>A PERFECT BANKING PARTNER</p>
        <ul>
            <li><a class="navbar-brand" href="#">Recharges & Purchases</a></li>
            <li><a class="navbar-brand" href="#">Pay Bills</a></li>
            <li><a class="navbar-brand" href="#">Travel</a></li>
            <li><a class="navbar-brand" href="#">Other Services</a></li>
        </ul>
    </div>

        </center>
</header>