{% load static %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <div class = "container_reg">
        <div class ="title_reg">Registration Form</div>
            <div class = "content_reg">
                <form action ="register" method = "post">

                            {% csrf_token %}



                    <div class=" input-box_reg">
                        <span class="details_reg">Username</span>
                        <input type="text" name="username" placeholder="enter your username"><br>
                    </div>
                    <div class=" input-box_reg">
                        <span class="details_reg">Password</span>
                        <input type="password" name="password" placeholder="enter your password"><br>
                    </div>
                    <div class=" input-box_reg">
                        <span class="details_reg">ConfirmPassword</span>
                        <input type="password" name="password1" placeholder="enter your confirmpassword"><br>
                    </div>
                    <div class = "button_reg">
                        <input type="submit">
                    </div>
                </form>
            </div>
    </div>
{% for msg in messages %}
   {{msg}}
   {% endfor %}
</body>
</html>